
.coluna{
  float: left;
  text-align: center;
  color: #ab8de2;
  margin: 40px 58px;
  background-color: #ab8de2;
.row::after {
  content: "";
  clear: both;
  display: table;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


