table
{
    margin-top: 20px;
    margin-left: 20px;
}

.table-center{
  margin-left: 170px !important;
}

table thead td{
    width: 190px;
    background: #ab8de2;
    color:#FFF;
    height: 40px;
    text-align:center;
}

table tbody td{
    width: 5px;
    height: 40px;
    text-align:center;
}

.button {
    border-radius: 4px;
    background-color: #ab8de2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px 20px;
  }
  
  .button4 {
    border-radius: 4px;
    background-color: #ab8de2;
    border: none;
    float: right;
    margin-top: 35px;
    margin-right: 20px;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
  
  }

  .button5 {
    border-radius: 4px;
    background-color: #ab8de2;
    border: none;
    float: right;
    margin-top: 35px;
    margin-right: 20px;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
  
  }

  .button6 {
    border-radius: 4px;
    background-color: #ab8de2;
    border: none;
    float: right;
    margin-top: 35px;
    margin-right: 20px;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
  
  }


  .button7 {
    border-radius: 4px;
    background-color: #ab8de2;
    border: none;
    float: right;
    margin-top: -23px;
    margin-right: 20px;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
  
  }

  .button8 {
    border-radius: 4px;
    background-color: #ab8de2;
    border: none;
    float: right;
    margin-top: -23px;
    margin-right: 20px;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
  
  }

  .button9 {
    border-radius: 4px;
    background-color: #ab8de2;
    border: none;
    float: right;
    margin-top: 22px;
    margin-right: 20px;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
  
  }

  .button10 {
    border-radius: 4px;
    background-color: #ab8de2;
    border: none;
    float: right;
    margin-top: 22px;
    margin-right: 20px;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
  
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

